@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #373737;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #444;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/portrait.jpg");
      border-radius: 50%;
      border: solid 3px #ee801a; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #ee801a; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #ee801a; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  background: #444;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/primary-bg.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(68, 68, 68, 0.8); }
  body .particles-js-canvas-el {
    position: absolute;
    top: 0; }

p {
  margin: 0;
  text-align: center;
  font-size: calc(0.5rem + 0.5vw); }

.defilee__main {
  margin: 0 auto; }

.defilee__outer {
  grid-area: defilee__outer;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  perspective: 0.5px;
  transform-style: preserve-3d;
  overflow: hidden; }

#blablbla {
  font-family: "Special Elite", cursive;
  margin: 0;
  font-size: calc(7vw + 20px);
  position: absolute;
  left: 5%;
  bottom: 40%;
  color: #ee801a; }

.defilee__ctnr {
  transform-style: preserve-3d;
  display: inline-flex;
  align-items: center;
  margin: 0 auto; }

.defilee__div {
  position: relative;
  transform: translateZ(-0.1px) scale(1.4) translateX(30px) translateY(5vh); }
  .defilee__div img {
    width: 100%;
    margin-bottom: 0.75vw; }

.defilee__div:not(.defilee__div--text) {
  width: 25vw;
  margin: 0 5vw;
  background: white;
  padding: 0.75vw;
  border-radius: 4px;
  box-shadow: 0 10px 40px -10px black; }

.defilee__div--text {
  margin: 0 0 0 10vw;
  transform: translateZ(-0.25px) scale(1.4) translateX(60px) translateY(-5vh);
  animation: zoom infinite 1s; }

.defilee__div--special {
  transform: translateZ(-0.2px) scale(1.4) translateX(30px) translateY(20vh); }

.defilee__div--special1 {
  transform: translateZ(-0.25px) scale(1.4) translateX(-0.3vw) translateY(0); }

.defilee__div--special2 {
  transform: translateZ(-0.3px) scale(1.5) translateX(-0.5vw) translateY(-5vh); }

.defilee__div--special3 {
  transform: translateZ(-0.5px) scale(1.5) translateX(-30px) translateY(-30vh); }

.defilee__div--special4 {
  transform: translateZ(-0.65px) scale(3) translateX(30px) translateY(-10vh); }

.defilee__ctnr {
  transform: translate3d(-10%, 0, 0);
  will-change: transform;
  animation: slide 25s 0.7s linear infinite; }

@keyframes slide {
  100% {
    transform: translate3d(-60%, 0, 0); } }

.defilee__div--special1.first {
  animation: vertical infinite 5s -2s; }

@keyframes vertical {
  50% {
    transform: translateZ(-0.25px) scale(1.6) translateX(-0.3vw) translateY(-5vh); } }

@keyframes zoom {
  50% {
    transform: translateZ(-0.25px) scale(1.5) translateX(60px) translateY(-5vh); } }

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.language i {
  margin: 3px;
  font-size: 20px; }

.language .fa-php {
  color: #a661e7; }

.language .fa-js-square {
  color: yellow; }

.language .fa-laravel {
  color: #a12d2d; }

.language .fa-html5 {
  color: orangered; }

.language .fa-sass {
  color: fuchsia; }

.language .fa-css3-alt {
  color: #3b3bf0; }

.language .fa-vuejs {
  color: green; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(73, 73, 73, 0.5); }

h2.sm-heading {
  background: none;
  padding: 0; }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #ee801a; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem;
      transition: all 0.5s ease-out; }
    main .icons .instagram:hover {
      color: #d43519; }
    main .icons .facebook:hover {
      color: #3b5998; }
    main .icons .linkedin:hover {
      color: #3b6c88; }
    main .icons .github:hover {
      color: #9919d4; }
    main .icons .skype:hover {
      color: #00aff0; }
  main#home {
    position: absolute;
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "defilee__outer defilee__outer defilee__outer defilee__outer" "bio bio bio bio" "job4 job1 job2 job3";
  grid-template-columns: repeat(4, 1fr); }
  .about-info .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: #ee801a 3px solid; }
  .about-info .bio {
    text-align: center;
    grid-area: bio;
    font-size: 1.5rem; }
  .about-info .job-1 {
    grid-area: job1; }
  .about-info .job-2 {
    grid-area: job2; }
  .about-info .job-3 {
    grid-area: job3; }
  .about-info .job-4 {
    grid-area: job4; }
  .about-info .job {
    background: #515151;
    padding: 0.5rem;
    border-bottom: #ee801a 5px solid; }

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); }
  .projects img {
    width: 100%;
    border: 3px #fff solid; }
    .projects img:hover {
      opacity: 0.5;
      border-color: #ee801a;
      transition: all 0.5s ease-out; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      padding: 0.5rem 1.5rem;
      background: #ee801a;
      color: #000; }
      .boxes div:hover span {
        color: #000; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #ee801a;
    color: #000; }

.btn-dark {
  background: black;
  color: #fff; }

.btn-light {
  background: #c4c4c4;
  color: #333; }

#main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background: #2b2b2b;
  color: #fff;
  height: 60px; }
  #main-footer a {
    margin-right: 10px; }
  #main-footer .signature {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    #main-footer .signature img {
      width: 150px; }

#map {
  overflow: hidden;
  width: 100%;
  height: 50vh;
  text-align: initial;
  /* .mapboxgl-canvas{
          position: inherit !important;
        } */ }

.tomtomAttribution {
  display: none; }

canvas {
  background-image: radial-gradient(#666, #333); }

@media screen and (min-width: 13671366px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1366px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); }
  #blablbla {
    bottom: 20%; } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      background: url("../img/portrait_small.jpg");
      width: 150px;
      height: 150px; }
  .about-info {
    justify-items: center;
    align-items: center;
    grid-template-areas: "defilee__outer" "bio" "job4" "job1" "job2" "job3";
    grid-template-columns: 1fr; }
    .about-info .job {
      width: 100%; }
  .projects {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 500px) {
  main {
    padding: 2rem; }
    main #home h1 {
      margin-top: 10vh; }
    main .lg-heading {
      margin-top: 1rem;
      font-size: 5rem; }
  .defilee__outer {
    height: 70vh; }
  #contact .boxes div {
    font-size: 1.2rem; }
  .projects {
    grid-template-columns: 1fr; } }
